.place__description {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 27px;
}

@media (max-width: 1023px) {
  .place__description {
    gap: 25px;
  }
}

@media (max-width: 767px) {
  .place__description {
    padding: 0 16px;
  }
}